* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--lightestColor);
}

:root {
    --darkestColor: rgb(255, 120, 57);
    --midColor: rgb(255, 162, 118);
    --lightestColor: rgb(255, 225, 210);
}

.title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    color: var(--midColor);
    background-color: var(--darkestColor);
}

.scoreBoard {
    text-align: center;
    margin-left: 30vw;
    margin-top: 5vh;
}

.buttons table{
    width: 80vw;
    text-align: center;
    margin: 5vh 10vw 5vh 10vw;
}

th, td {
    border: 5px solid var(--midColor);
    font-size: 25px;
    width: 20vw;
    color: var(--midColor);
}

img {
    width: 15vw;
    height: auto;
    background-color: var(--darkestColor);
    border-radius: 7.5vw;
}

.cpuMove {
    margin: 5vh 2.5vw 0 2.5vw;
}

input {
    border-radius: 100px;
    margin: 3vh 2vw 3vh 2vw;
    outline: none;
    width: 15vw;
    height: auto;
    background-color: var(--darkestColor);
    border-radius: 7.5vw;
}

.invisible td {
    border: none;
}

footer {
    text-align: center;
    padding-top: 2px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    color: var(--midColor);
    background-color: var(--darkestColor);
}

a {
    background-color: var(--darkestColor);
    color: var(--midColor);
}